<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite" parallel="classes" data-provider-thread-count="5">
    <test name="Regression test">
        <classes>
           <class name="de.olexiy.testing.example.cucumberauthomationframework.runners.MainRunner"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->